        .alert-info {
            width: 100%;
            margin-top: 10px;
        }
        
        .form-alert {
            display: none;
        }
        
        textarea {
            width: 70%;
        }
        
        .steps {
            margin-top: 100px;
        }
        
        .activity:hover {
            opacity: 0.5
        }
        
        .unselect {
            opacity: 0.1
        }
        
        .select {
            opacity: 1
        }
        
        #map {
            height: 400px;
            width: 100%;
        }
        
        @media only screen and (min-width: 700px) {
            .content {
                padding-top: 100px;
            }
        }
        
        @media only screen and (max-width: 700px) {
            .steps {
                padding-top: 100px;
            }
        }