.alert-info {
    width: 100%;
    margin-top: 10px;
}

.form-alert {
    display: none;
}

.form-alert a {
    cursor: pointer;
}

textarea {
    width: 70%;
}

.activity {
    margin-bottom: 20px;
}

.activity p {
    margin: 0 0 0px;
}

.activity:hover {
    opacity: 0.5
}

.unselect {
    opacity: 0.1
}

.select {
    opacity: 1
}

#map {
    height: 430px;
    width: 100%;
}

#finalStage {
    float: right;
}

.internet-connection,
.internet-slow>div.container {
    display: none;
}

#apList {
    clear: both;
    list-style: none;
    padding-left: 0;
    width: 100%;
}

#apList p {
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    min-height: 42px;
    border-radius: 10px;
}

.element {
    border: 2px solid #cfd8dc;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 6px 0;
}

#finalStage {
    display: none;
}

.range-slider {
    width: 100%;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}

.range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}

.range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
}

.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

.building-list-container {
    overflow-y: scroll;
    height: 300px;
}