body {
    position: relative;
}

ul {
    background: white;
}

.timeline-progress {
    /*top: 0px;*/
    position: fixed;
    z-index: 99;
}

.timeline-progress ul {
    background: white;
    padding-top: 30px;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.timeline-progress .active .fa-circle {
    color: orange;
}

.nav > li > a {
    padding: 10px 5px;
}

.media-body .fa+.fa {
    margin-left: 20px;
}

.media-body .fa {
    cursor: pointer;
    color: #BDBDBD;
}

.media-body .fa-reply:hover {
    color: #17BF63;
}

.media-body .fa-heart:hover {
    color: #E85F37;
}
