body {
    position: relative;
}

ul {
    background: white;
}

.page-header {
    padding-top: 80px;
}

.timeline-progress .active .fa-circle {
    color: orange;
}

.nav>li>a {
    padding: 10px 5px;
}

.nav.nav-pills li {
    display: inline-table;
    width: 24%;
    margin: 0;
    cursor: pointer;
}

.comment-nav-text {
    display: block!important;
}

.nav-pills>li.active>a {
    background-color: orange;
}

.nav-comment {
    margin-bottom: 20px;
}

.media-body .fa+.fa {
    margin-left: 20px;
}

.media-body .fa-reply,
.fa-chevron-up,
.fa-chevron-down {
    cursor: pointer;
    color: #BDBDBD;
}

.media-body .fa-reply:hover {
    color: #4caf50;
}

.media-body .fa-chevron-up:hover {
    color: #29b6f6;
}

.media-body .fa-chevron-up.active {
    color: #29b6f6;
}

.media-body .fa-chevron-down:hover {
    color: #ef5350;
}

.comment-date {
    font-weight: 200;
    color: #BDBDBD;
}

.media-body {
    word-break: break-all;
}

.media-left {
    color: #505050;
}

.media-left .fa-question,
.fa-lightbulb-o {
    margin: 0 6px;
}

.seemore-btn {
    margin: 10px 0;
    cursor: pointer;
    color: #BDBDBD;
}

@media (min-width: 768px) {
    #comment-to {
        margin-left: 10px;
    }
}

.report-display {
    clear: both;
    list-style: none;
    padding-left: 0;
    width: 100%;
}

.recent-report {
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    min-height: 42px;
    border-radius: 10px;
}

.popover-content i+i {
    margin-left: 10px;
}

.popover-content i {
    cursor: pointer;
}

.popover-title {
    text-align: center;
}

#like {
    margin: 3px;
}

textarea.form-control {
    margin-top: 10px;
    padding-right: 35px;
}

.postfix-icon {
    position: relative;
    float: right;
    top: 50px;
    right: 10px;
    color: #555555;
}

.tweet_user {
    color: orange;
    cursor: pointer;
}

.tweet_hashtag {
    color: palevioletred;
    cursor: pointer;
}

.media {
    padding: 5px 15px;
}

.media-emphasized {
    background-color: whitesmoke;
}

.fixed-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ff6c40;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.comment-add-report {
    cursor: pointer;
    color: #337ab7;
}

.hello-msg {
    word-break: break-all;
    max-width: 662px;
    padding: 10px 0;
}

.hello-msg>h3 {
    line-height: 1.5;
}

.carousel-inner .item {
    height: 280px;
}

.carousel-inner .item img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.carousel-control {
    background-image: none!important;
    color: orange!important;
}

.carousel-caption {
    text-shadow: none;
    color: #535353;
}

.article-text li {
    font-size: large!important;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #535353;
}

.article-text p {
    font-size: large!important;
    line-height: 1.5;
    color: #535353;
}

.article-text h4 {
    margin: 15px 0;
    color: #535353;
}

.article-tooltip {
    text-decoration: underline;
    font-weight: 600;
}

.btn-circle {
    display: block;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 10px;
}

.btn-circle-orange {
    color: white;
    background: orange;
}

.btn-circle-orange:hover {
    color: white;
    background-color: darkorange;
}

.btn-circle-lg {
    width: 60px;
    height: 60px;
    padding: 7.5px 0;
    font-size: 30px;
    border-radius: 30px;
}

.btn-circle-sm {
    width: 40px;
    height: 40px;
    padding: 5px 0;
    font-size: 20px;
    border-radius: 20px;
}

.fixed-fab {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.fixed-fab-child {
    margin: 10px;
}

.fixed-fab-child .btn {
    display: none;
}

.fixed-fab-child .btn-circle+.btn-circle {
    margin-top: 10px;
}
