body {
    position: relative;
}

ul {
    background: white;
}

.timeline-progress .active .fa-circle {
    color: orange;
}

.nav>li>a {
    padding: 10px 5px;
}

.nav.nav-pills li {
    display: inline-table;
    width: 24%;
    margin: 0;
}

.comment-nav-text {
    display: block!important;
}

.nav-pills>li.active>a {
    background-color: orange;
}

.media-body .fa+.fa {
    margin-left: 20px;
}

.media-body .fa-reply,
.fa-chevron-up,
.fa-chevron-down {
    cursor: pointer;
    color: #BDBDBD;
}

.media-body .fa-reply:hover {
    color: #4caf50;
}

.media-body .fa-chevron-up:hover {
    color: #29b6f6;
}

.media-body .fa-chevron-up.active {
    color: #29b6f6;
}

.media-body .fa-chevron-down:hover {
    color: #ef5350;
}

.comment-date {
    font-weight: 200;
    color: #BDBDBD;
}

.media-body {
    word-break: break-all;
}

.media-left {
    color: #505050;
}

.media-left .fa-question,
.fa-lightbulb-o {
    margin: 0 6px;
}

.seemore-btn {
    margin: 10px 0;
    cursor: pointer;
    color: #BDBDBD;
}

@media (min-width: 768px) {
    #comment-to {
        margin-left: 10px;
    }
}

.report-display {
    clear: both;
    list-style: none;
    padding-left: 0;
    width: 100%;
}

.recent-report {
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    min-height: 42px;
    border-radius: 10px;
}

.popover-content i+i {
    margin-left: 10px;
}

.popover-content i {
    cursor: pointer;
}

.popover-title {
    text-align: center;
}

#like {
    margin: 3px;
}

textarea.form-control {
    margin-top: 10px;
    padding-right: 35px;
}

.postfix-icon {
    position: relative;
    float: right;
    top: 50px;
    right: 10px;
    color: #555555;
}

.tweet_user {
    color: orange;
    cursor: pointer;
}

.tweet_hashtag {
    color: palevioletred;
    cursor: pointer;
}

.media {
    padding: 5px 15px;
}

.media-emphasized {
    background-color: whitesmoke;
}

.fixed-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ff6c40;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.comment-add-report {
    cursor: pointer;
    color: #337ab7;
}
