body {
    position: relative;
}

ul {
    background: white;
}

.timeline-progress {
    /*top: 0px;*/
    position: fixed;
    z-index: 99;
}

.timeline-progress ul {
    background: white;
    padding-top: 30px;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.timeline-progress .active .fa-circle {
    color: orange;
}

.nav > li > a {
    padding: 10px 5px;
}

.media-body .fa+.fa {
    margin-left: 20px;
}

.media-body
.fa-reply, .fa-chevron-up, .fa-chevron-down {
    cursor: pointer;
    color: #BDBDBD;
}

.media-body .fa-reply:hover {
    color: #4caf50;
}

.media-body .fa-chevron-up:hover {
    color: #29b6f6;
}

.media-body .fa-chevron-down:hover {
    color: #ef5350;
}

.comment-date {
    font-weight: 200;
    color: #BDBDBD;
}

.media-body {
    word-break: break-all;
}

.media-left {
    color: #505050;
}

.media-left
.fa-question, .fa-lightbulb-o {
    margin: 0 6px;
}

.seemore-btn {
    margin: 10px 0;
    cursor: pointer;
    color: #BDBDBD;
}

#comment-to {
    margin-left: 10px;
}

.popover-content i+i {
    margin-left: 10px;
}

.popover-content i {
    cursor: pointer;
}

.popover-title {
    text-align: center;
}

#like {
    margin: 3px;
}
