.alert-info {
    width: 100%;
    margin-top: 10px;
}

.form-alert {
    display: none;
}

textarea {
    width: 70%;
}

.steps {
    margin-top: 100px;
}

#map {
    height: 400px;
    width: 100%;
}

.timepicker {
    width: 200px;
}

#finalStage {
    visibility: hidden;
    float: right;
}

.issue-type span {
    color: gray;
}

.issue-type button {
    border: 3px solid orange;
    background: white;
    margin: 5px;
    border-radius: 5px !important;
}

.issue-type button:hover {
    background: #ff6c40;
}