.alert-info {
    width: 100%;
    margin-top: 10px;
}

.form-alert {
    display: none;
}

textarea {
    width: 70%;
}

.steps {
    margin-top: 100px;
}

#map {
    height: 400px;
    width: 100%;
}

.timepicker {
    width: 200px;
}

#finalStage {
    visibility: hidden;
    float: right;
}