.alert-info {
    width: 100%;
    margin-top: 10px;
}

textarea {
    width: 70%;
}

.steps {
    margin-top: 100px;
}

#map {
    height: 400px;
    width: 100%;
}

.timepicker {
    width: 200px;
}

#finalStage {
    visibility: hidden;
}

svg {
    width: 100%;
    height: 100%;
}

path.slice {
    stroke-width: 2px;
}

polyline {
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

#stat {
    display: none;
    width: 100%;
    height: 400px;
}